.checkout-page {
  padding: 20px;
}

.form-section {
  padding: 20px;
}

.summary-section {
  padding: 20px;
  background-color: #f5f5f5;
}

.account-details {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: #fff;
  padding: 20px !important;
}

.account-details h2 {
  margin-bottom: 20px;
}

.form-section {
  background-color: #f5f5f5;
}

.form-section .form-group {
  margin-bottom: 20px;
}

.total__32Pz {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalValue__1-Md {
  color: black;
}

.container__3K0H {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  padding: 1.5rem 1.5rem 2rem;
}

.container__30uu {
  position: relative;
  padding: 20px;
}

.headerContainer__3VwO {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}

.image__E6xL {
  border-radius: 0.25rem;
  object-fit: cover;
}

.titleContainer__1aZq {
  margin: 0 0.75rem;
  margin-top: 0.6rem;
  height: 100%;
  text-align: center;
}

.title__3Avu {
  font-size: 1.2rem;
  overflow: hidden;
  line-height: 1.5rem;
}

.price__f3Od {
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.list__1Hsv {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.divider__3jqL {
  margin: 20px 0;
}

.row__2M1Q {
  display: flex;
  margin: 0.25rem 0;
  align-items: flex-start;
}

.row__2M1Q > :first-child {
  margin-right: 1rem;
  min-width: 1rem;
}

.icon__3e6C {
  margin-right: 10px;
}

.mt-3 {
  margin-top: 1rem;
}

.book_btn {
  width: 100%;
}

.book_details {
  text-align: center;
}
