.post-card {
    position: relative;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

.post-card h5,
.post-card p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
}

.post-card img:not(.edit-button) {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.edit-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.favorite-button,
.comment-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
    padding: 8px 16px; /* Same padding for consistency */
    border-radius: 5px; /* Rounded corners for buttons */
}

.favorite-button .fa-heart-o,
.favorite-button .fa-heart {
    margin-right: 5px; /* Space between icon and text */
}

.favorite-button.favorited .fa-heart {
    color: #ff4563; /* Color for liked state */
}

.comment-button {
    background-color: #2c7be5; /* Blue background for comment button */
    color: white; /* White text for visibility */
}

.options-bar {
    position: absolute;
    top: 40px; /* Adjusted for better visibility */
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.notification-card i {
    color: green;
}

.notification-card .fas-fa-check-tick-active {
    font-size: 30px;
    color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 3px solid #4CAF50;
    border-radius: 50%;
    margin-bottom: 10px;
}

.like-comment-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Default styles */
.card.post-card {
    width: 40rem;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {
    .card.post-card {
      width: 25rem;
    }
  }
  