.common__section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.common__section h1 {
    color: #fff;
    font-size: 2.5rem;
}