.post-card-dropdown .dropdown-toggle::after {
    display: none;
  }
  
  .post-card-dropdown .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }
  
  .card-text img {
    max-width: 100%;
    height: auto;
  }
  