.hero__container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    height: 500px !important;
}

.custom__container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.swiper__slide__image {
    opacity: 0.85;
}

.hero__slide {
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.hero__slide h1 {
    width: 60%;
    font-weight: 600 !important;
    font-size: 2.8rem !important;
}

.hero__slide p {
    width: 40%;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}

.hero__slide h1 span {
    color: var(--secondary-color) !important;
}

.custom-btn {
    width: 10%;
    background-color: #50e0ff !important;
    border: none !important;
}

.custom-btn a {
    color: #fff !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ri {
    color: var(--secondary-color) !important;
}

.services__subtitle {
    font-size: 2.2rem !important;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.image-container {
    margin-top: 20px !important;
    max-width: 1500px !important;
}

.image-container .row {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.image-container .row [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.image-container .row img {
    width: 100%;
}

.featured__tour-title {
    font-size: 2.3rem !important;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {

    .hero__slide {
        top: -5%;
    }

    .hero__slide h1 {
        width: 80% !important;
        font-size: 2.6rem !important;
    }

    .hero__slide p {
        width: 50% !important;
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 992px) {

    .hero__slide {
        top: -4%;
    }


    .hero__slide h1 {
        width: 80% !important;
        font-size: 2.3rem !important;
    }

    .hero__slide p {
        width: 60% !important;
        font-size: 1.3rem !important;
    }

    .custom__container {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hero__slide {
        top: -5%;
    }

    .hero__slide h1 {
        width: 100% !important;
        font-size: 1.7rem !important;
    }

    .hero__slide p {
        width: 70% !important;
        font-size: 1rem !important;
    }

    .custom__container {
        height: 100%;
    }
}

@media screen and (max-width: 670px) {
    .hero__slide {
        top: -8%;
    }

    .hero__slide h1 {
        width: 100% !important;
        font-size: 1.7rem !important;
    }

    .hero__slide p {
        width: 70% !important;
        font-size: 1rem !important;
    }

    .custom__container {
        height: 100%;
    }

    .primary__btn {
        width: 20% !important;
        height: 8% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .primary__btn a {
        font-size: .8rem !important;
    }
}



@media screen and (max-width: 576px) {
    .hero__slide {
        top: -15%;
    }

    .hero__slide h1 {
        width: 100% !important;
        font-size: 1.5rem !important;
    }

    .hero__slide p {
        width: 60% !important;
        font-size: .75rem !important;
    }

    .custom__container {
        height: 100%;
    }

    .primary__btn {
        width: 18% !important;
        height: 7% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .primary__btn a {
        font-size: .7rem !important;
    }
}

.normal__pad {
    padding: 0.375rem 0.75rem !important;
}

.big__pad {
    padding: 0.4rem 1.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0 !important;
    /* margin-bottom: 0.5rem !important; */
    font-weight: 500;
    line-height: 1.2;
}

.homepage__p {
    margin-bottom: 1rem !important;
    color: #fff !important;
}