.accept__btn {
  color: #fff;
  background-color: var(--primary-color) !important;
  font-weight: 500 !important;
  width: 100% !important;
}

.accept__btn:hover {
  background-color: var(--dark-primary-color) !important;
}

@media screen and (max-width: 670px) {
  .deny__btn {
    height: 8% !important;
    font-size: 0.8rem !important;
  }
  .cookie_p {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 576px) {
  .deny__btn {
    height: 7% !important;
    font-size: 0.7rem !important;
  }
  .cookie_p {
    font-size: 0.7rem !important;
  }
}
