.purchase-history-page {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.booking-item {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-item img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.booking-details {
  display: flex;
  align-items: center;
  width: 60%;
}

.booking-details .details-text {
  margin-left: 16px;
}

.booking-details span {
  display: block;
}

.booking-details .title {
  font-size: 18px;
  font-weight: bold;
  color: var(--heading-color);
}

.title:hover {
  color: var(--secondary-color) !important;
}

.booking-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 0 !important;
}

.booking-info li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 8px;
}

.booking-info .item_icon {
  margin-right: 8px;
}

.history_price {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .tour__location {
    font-size: 13px;
  }

  .booking-item img {
    width: 30%;
    margin-bottom: 16px;
  }

  .booking-details {
    width: 60%;
  }

  .details-text {
    font-size: 16px;
  }

  .booking-details .title {
    font-size: 16px;
  }

  .booking-info {
    align-items: flex-start;
  }

  .booking-info li {
    justify-content: flex-start;
    font-size: 14px;
  }

  .booking-info li i {
    font-size: 14px;
  }

  .history_price {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  .booking-item img {
    width: 30%;
    margin-bottom: 0px;
  }

  .booking-details {
    width: 60%;
  }

  .details-text {
    font-size: 12px;
  }

  .booking-details .title {
    font-size: 14px;
  }

  .booking-info li {
    font-size: 12px;
  }

  .booking-info li i {
    font-size: 12px;
  }

  .purchase-history-page {
    padding: 10px;
  }

  .booking-item {
    padding: 12px;
  }

  .booking-details .details-text {
    margin-left: 8px;
  }

  .history_price {
    font-size: 0.75rem;
  }

  .title {
    font-size: 14px;
  }
}

@media (max-width: 470px) {
  .tour__location {
    font-size: 11px;
  }

  .booking-item img {
    width: 30%;
  }

  .booking-details {
    width: 60%;
  }

  .details-text {
    font-size: 10px;
  }

  .booking-details .title {
    font-size: 12px;
  }

  .booking-info ul {
    padding-left: 0 !important;
  }
  .booking-info li {
    font-size: 11px;
  }

  .booking-info li i {
    font-size: 11px;
  }

  .purchase-history-page {
    padding: 5px;
  }

  .booking-item {
    padding: 8px;
  }

  .booking-details .details-text {
    margin-left: 4px;
  }

  .history_price {
    font-size: 0.7rem;
  }

  .title {
    font-size: 13px;
    margin-left: 8px;
  }
}
