@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --dark-primary-color: #E57100;
  --light-primary-color: #f5cba3;
  --secondary-color: #faa935;
  --light-secondary-color: #ff9733;
  --disable-color: #F2F2F2;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
  overflow-x: hidden;
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none !important;
  color: unset;
}

ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  cursor: pointer;
}

.primary__btn:hover {
  background: var(--dark-primary-color) !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

.primary__btn a:hover {
  color: inherit;
}

.secondary__btn {
  background: transparent !important;
  color: var(--heading-color) !important;
  border: none !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.disabled__btn {
  background: var(--disable-color) !important;
  opacity: 0.6;
  border: 1px solid var(--heading-color) !important;
}

.disabled__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color) !important;
  font-weight: 500;
  cursor: pointer
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content !important;
  padding: 0px 0.5rem !important;
  padding-right: 1rem !important;
  border-radius: 50px !important;
  font-weight: 500;
  font-size: 1.7rem !important;
  color: var(--heading-color) !important;
}

.category {
  border-top: 2px solid gray;
}

.bd-announce {
  border-left: 10px solid #E2231A;
}

.bd-discuss {
  border-left: 10px solid #CEE741;
}

tr th {
  padding-bottom: 10px;
}

.category-links {
  color: #0f82af;
}

.category-date {
  color: gray;
}

.truncate {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ws-wrap {
  white-space: pre-wrap;
}

.ctm-btn {
  background: none;
  border: none;
  transition: background-color 0.3s ease;
}

.ctm-btn:hover {
  cursor: pointer;
  background-color: rgb(174, 174, 174);
}

.heart:hover i {
  color: rgb(249, 81, 109);
}

.fa-solid.fa-heart {
  color: rgb(249, 81, 109);
}

.comment {
  color: inherit;
  transition: background-color 0.1s ease;
}

.comment:hover {
  background-color: #e8e8e8;
  transition: background-color 0.1s ease;
  cursor: pointer;
}


#a {
  padding-top: 100px;
}




p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

h1 {
  font-size: 40px !important;
  font-weight: 500 !important;
}

h2 {
  font-size: 32px !important;
  font-weight: 500 !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 500 !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 16px !important;
  font-weight: 500 !important;
}

h6 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.body-1 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.body-2 {
  font-size: 12px !important;
}

