/* .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
} */

.header__container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

/* .logo img {
    width: 30%;
} */

.navigation {
    margin-left: 7rem;
}

#navbarSupportedContent {
    margin-right: 0 !important;
}


.dropdown {
    width: 85px;
    height: 30px;
    margin-right: 35px;
}

.dropdown button {
    font-weight: bold;
}

#user {
    padding: 0 !important;
}

.l {
    margin-left: 2rem;
}

.margin {
    margin-right: 1.5rem !important;
}

nav button,
nav button:focus,
nav button:active,
nav button:focus-visible {
    outline: none !important;
    border: none !important;
}

.no-bullet {
    list-style-type: none;
}

.menu {
    margin-bottom: 0;
    gap: 4rem !important;
    padding-left: 2rem !important;
}

.nav__item {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: .4rem;
}

.nav__item a {
    color: var(--heading-color);
}

.nav__item a:hover {
    color: var(--secondary-color);
}

.nav__item a.active__link {
    color: var(--light-primary-color) !important;
}

.nav__link {
    cursor: pointer;
}

.nav__link:hover {
    color: var(--secondary-color);
}

.nav__btns {
    margin-right: auto;
}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

.nav__right {
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: 2rem;
    ;
}

#user-icon-container {
    margin-left: auto !important
}

#dropdown-left {
    width: 80%;
}

#dropdown-left li {
    width: 100%;
    margin: 0;
}

#dropdown-left a {
    width: 100%;
    line-height: 30px;
}

.sign__out:hover {
    cursor: pointer
}